@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');
@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap";
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
​
body, html, .App, #root{
  background-color:#F5DEB3;
  min-height: 100vh;
  display: flex;
  font-weight:400;
  font-family: 'Fira Sans', sans-serif;
  justify-content: center;
  }
​
.slider-container {
   margin: 20px auto; 
    position: relative; 
    width: 98%; 
    height: 40%; 
    padding: 10px;  
}
​
.slider-item-div {
    position: relative; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
    max-height: 700px;  /* change this to whatever you want */
    width: auto
​
}
​
.carousel-style {
  width: 100%; 
    height: 30%;
    
}
​
 body{
   justify-content: center;
  min-height: 100vh;
  display: flex;
  font-weight:400;
  font-family: 'Fira Sans', sans-serif;
}
​
h1,h2,h3,h4,h5,h6,p,label,span {
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
   text-align: center;
}
​
.products {
  display: flex;
  flex-wrap: wrap;
}
​
.product-card {
  flex: 1 16%;
  box-shadow: 0 4px 8px 0 rgb(214, 13, 137);
  height: 400px;
  margin: auto;
  text-align: center;
  font-family: arial;
  border-width: thin;
  border-style: inset;
  margin-bottom: 20px;
  border-radius: 80px;
  border-color: blueviolet;
}
.product-image img {
  margin-top: 10px;
  width: 80%;
}
.product-info {
  margin-top: auto;
}
@media (max-width: 1500px) {
  .product-card {
    flex: 1 20%;
  }
}